.vmodal {
}
.modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal__window {
  width: 600px;

  border-radius: 5px;
  background: #fff;
  margin: 100px auto;
}

.modal__header {
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.modal__title {
  font-size: 1.5rem;
}
.modal__close {
  cursor: pointer;
}
.modal__content {
  padding: 10px;
}

.modal__content p {
  margin: 0 0 5px;
}
.modal__footer {
  padding: 5px 5px;
  border-top: 1px solid #eee;
  text-align: right;
}
